button {
  cursor: pointer;
}

.header-container {
  font-size: 40px;
  padding: 50px;
}

.hero-container {
  border: 1px solid #c2b39a;
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-self: center;
  width: 90%;
  max-width: 455px;
  padding: 12px;
  border-radius: 11px;
}

.hero-main1 {
  display: flex;
  flex-direction: column;
  font-size: 28px;
  gap: 10px;
}

.hero-main2 {
  background-color: #88ab33;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.form {
  align-self: center;
  width: 97%;
  max-width: 455px;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 38px;
}

.form label {
  width: 90%;
}

.form input {
  background-color: #1f2937;
  color: #fff;
  width: 100%;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 11px;
  padding: 12px;
}

.form button {
  width: 10%;
  height: 50px;
  border-radius: 11px;
  background-color: #88ab33;
  border: none;
}

.todo_list {
  align-self: center;
  width: 97%;
  max-width: 455px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 27px;
  margin-bottom: 27px;
  gap: 27px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.todo_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  max-width: 455px;
  border: 1px solid #c2b39a;
  font-size: 16px;
  background-color: #0d0d0d;
  color: #fff;
  padding: 12px;
}

.todo_items_left,
.todo_items_right {
  display: flex;
  align-items: center;
}

.todo_items_right {
  gap: 4px;
}

.todo_items_right button {
  background-color: transparent;
  color: #fff;
  border: none;
}
